<!-- TEMPLATE -->
<template>
	<div class="template-container">

		<!-- Таблица -->		
		<table class="table table-custom">
			<thead class="thead-dark">
				<tr>
					<th v-for="(element, index) in mappingModel" :key="index" scope="col">
						{{ element.name }}
					</th>
				</tr>
			</thead>

			<!--  -->
			<table-body v-for="(element, index) in model" 
						v-bind:key="index" 
						v-bind:index="index" 
						v-bind:mapping-model="mappingModel"
						v-bind:selected-element="selectedElement"
						v-on:set-selected-element="setSelectedElement"
						v-on:add-empty-children-element="addEmptyChildrenElement"
						v-model="model[index]" />

		</table>
		
		<!-- Сообщение, если таблица пустая -->
		<div class="alert text-secondary text-center" v-if="true">
			<small>Необходимо добавить данные в таблицу</small>
			<button class="btn btn-success btn-sm ml-4" v-on:click="addNewEntry()"><i class="fa fa-plus mr-2"></i>Добавить запись</button>
		</div>
		
	</div>
</template>

<!-- SCRIPT -->
<script>
	import TBody from './TBody.vue'
	
	export default {
		name: 'Table',
		components: {
			'table-body': TBody
		},
		data: () => ({

			/**
			 * 
			 */
			selectedElement: '',

			/**
			 *
			 */
			mappingModel: {
				phase: { 
					type: "phase", 
					name: "Фаза", 
					value: "Нофая фаза", 
					childrens: "harm" 
				},
				harm: { 
					type: "harm", 
					name: "Вредный объект", 
					value: "-", 
					childrens: "drug" 
				},
				drug: { 
					type: "drug", 
					name: "Препарат", 
					value: "-", 
					data:["count", "currency", "price", "sum"]
				},
				count: { 
					type: "count", 
					name: "Кол-во", 
					value: 0 
				},
				currency: { 
					type: "currency", 
					name: "Валюта", 
					value: 0
				},
				price: { 
					type: "price", 
					name: "Цена", 
					value: 0
				},
				sum: { 
					type: "sum", 
					name: "Сумма", 
					value: 0 
				},
			},

			/**
			 * Данные для заполнения таблицы.
			 *
			 * @type {object}
			 */
			model: []
		}),
		watch: {

		},
		computed: {

			/**
			 * Проверка на наличие данных в таблице.
			 *
			 * @returns {boolen}
			 */
			isEmptyModel() {
				return this.model.length === 0
			},

		},
		methods: {

			/**
			 * 
			 */
			generateEmptyElement(element) {

				//
				let model = { value: element.value, type: element.type }

				//
				let data = []

				//
				let childrens = []

				//
				if (this.hasData(element)) {
					for (let name of element.data) {
						data.push({ value: this.mappingModel[name].value, type: this.mappingModel[name].type })
					}
					model.data = data
				}
				
				//
				if (this.hasChildren(element)) {
					childrens.push(this.generateEmptyElement(this.mappingModel[element.childrens]))
					model.childrens = childrens
				}

				return model
			},

			/**
			 * 
			 */
			addEmptyChildrenElement({ item, type }) {
				item.childrens.push(this.generateEmptyElement(this.mappingModel[type]))
			},

			/**
			 * 
			 */
			setSelectedElement(elemntID) {
				this.selectedElement = elemntID
			},

			/**
			 * Добавление новой пустой записи в таблицу.
			 *
			 * @returns {void}
			 */
			addNewEntry() {
				this.model.push(this.generateEmptyElement(this.mappingModel.phase))
			},

			/**
			 *
			 */
			hasChildren(item) {
				return item.hasOwnProperty('childrens')
			},

			/**
			 * 
			 */
			hasData(item) {
				return item.hasOwnProperty('data')
			}
		},
		mounted() {
			//this.model.push(this.generateEmptyElement(this.mappingModel.phase))
		}
	}
</script>

<!-- STYLE -->
<style>
	.table-custom {
		font-size: .9em;
	}
	.table-custom th, .table-custom td {
		vertical-align: middle !important;
	}
	.table-custom td:hover {
		background-color: #f8f9fa;
	}
</style>
