<!-- TEMPLATE -->
<template>

	<!-- -->
	<tbody>
		
		<!-- -->
		<tr v-for="(line, indexLine) in tableData" :key="indexLine">
			
			<!-- -->
			<td v-for="(item, indexItem) in line" :key="indexItem" :rowspan="getCountEndNodes(item)">
				<div class="row">
					<div class="col-md-12">

						<!-- -->
						<div class="form-group" v-if="isSelectedElement(indexLine, indexItem)">
							<input 	type="text" class="form-control form-control-sm" placeholder="Введите новое значение" v-focus v-model="item.value">
						</div>

						<!-- -->
						<div class="form-group" v-else>
							<span>{{ item.value }}</span>
							<button class="btn btn-success btn-sm" v-on:click="selectElement(indexLine, indexItem)"><i class="fa fa-edit"></i></button>
							<button class="btn btn-success btn-sm" v-if="mayHaveChildrens(item)" v-on:click="addEmptyChildrenElement(item)"><i class="fa fa-plus"></i></button>
						</div>
						

					</div>
				</div>	
			</td>
		</tr>

	</tbody>
	
</template>

<!-- SCRIPT -->
<script>
export default {
	name: 'TBody',
	props: {
		
		/**
		 *
		 */
		value: { 
			type: Object,
			required: true
		},

		/**
		 * 
		 */
		index: { 
			type: Number,
			required: true 
		},

		/**
		 * 
		 */
		selectedElement: { 
			type: String,
			required: true 
		},

		/**
		 * 
		 */
		mappingModel: {
			type: Object,
			required: true
		}
	},
	data: () => ({

		/**
		 *		
		 */
		tableData: [],

		/**
		 *		
		 */
		stack: []
	}),
	watch: {
	},
	computed: {
	},
	methods: {

		/**
		 * 
		 */
		generateTableData(item) {

			// 
			this.stack.push(item)

			//
			if (this.hasData(item)) {
				for (let data of item.data) {
					this.stack.push(data)
				}
			}

			// 
			if (this.hasChildrens(item)) {
				for (let children of item.childrens) {
					this.generateTableData(children)
				}

			// 
			} else {
				this.tableData.push(this.stack)
				this.stack = []
			}
		},

		/**
		 * 
		 */
		getCountEndNodes(item) {
			let count = null
			
			if (this.hasChildrens(item)) {
				for (let children of item.childrens) {
					count = count + this.getCountEndNodes(children)
				}
			} else {
				count = count + 1
			}

			return count
		},

		/**
		 * 
		 */
		addEmptyChildrenElement(item) {
			this.$emit('add-empty-children-element', { item: item, type: this.getMappingData(item).childrens })
		},

		/**
		 * 
		 */
		isSelectedElement(indexLine, indexItem) {
			return this.selectedElement === this.getElementID(indexLine, indexItem)
		},

		/**
		 * 
		 */
		selectElement(indexLine, indexItem) {
			this.$emit('set-selected-element', this.getElementID(indexLine, indexItem))
		},

		/**
		 * 
		 */
		getElementID(indexLine, indexItem) {
			return this.index + ':' + indexLine + ':' + indexItem
		},

		/**
		 * 
		 */
		getMappingData(item) {
			return this.mappingModel[item.type]
		},

		/**
		 * 
		 */
		mayHaveChildrens(item) {
			return this.getMappingData(item).hasOwnProperty('childrens')
		},

		/**
		 *
		 */
		hasChildrens(item) {
			return item.hasOwnProperty('childrens')
		},

		/**
		 * 
		 */
		hasData(item) {
			return item.hasOwnProperty('data')
		}


	},
	mounted() {
		this.generateTableData(this.value)
	}
}
</script>

<!-- STYLE -->
<style scoped>

</style>
