<template>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<Table />
			</div>
		</div>
	</div>
</template>

<script>
import Table from './components/Table.vue'

export default {
  name: 'app',
  components: {
    Table
  }
}
</script>
